<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Call App</title>
    <link rel="stylesheet" href="/style/index.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto+Slab:wght@500&family=Roboto:ital,wght@0,400;1,700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <nav><h1>Video Call App</h1></nav>
    <main>
      <div class="intro">
        <img src="../Images/pexels-photo-4226140.jpeg" alt="hello" />
        <h2>Connect with your loved ones!</h2>
        <p>
          To create your own room and invite others to it, click on the
          <i>Create A New Room </i> button, else if you want to join a room,
          enter the room ID provided to you in the space provided and click on
          the <i>Join Room</i> button.
        </p>
      </div>
      <div class="container">
        <div class="inner-container">
          <div class="join-sections">
            <input type="text" placeholder="Enter Room Id" id="id-input" />
            <div class="create-div" onclick="handleJoin()">Join Room</div>
          </div>
          <div class="create-div" onclick="handleCreate()">
            Create a New Room
          </div>
        </div>
      </div>
    </main>
    <footer></footer>
    <script>
      const handleCreate = () => {
        window.location.href = `${window.origin}/create-room`;
      };
      const handleJoin = () => {
        const inputElement = document.getElementById("id-input");
        if (inputElement.value)
          window.location.href = `${window.origin}/${inputElement.value}`;
      };
    </script>
  </body>
</html>
